<ion-content>
  <ion-card class="cardP2">
    <a class="atag" style="padding: 10px;" [routerLink]="['/home']" routerLinkActive="router-link-active;">
      <ion-button color="secondary">Payment method</ion-button>
    </a>
    <a class="atag" style="padding: 10px;" [routerLink]="['/about']" routerLinkActive="router-link-active">
      <ion-button color="secondary">Payout</ion-button>
    </a>
    <a class="atag" style="padding: 10px;" [routerLink]="['/Payout']" routerLinkActive="router-link-active">
      <ion-button color="secondary"> Transactions History</ion-button>
    </a>

    <ion-card-content class="content1"><b>Payout Methods</b></ion-card-content>
    <div>
      <ion-grid>
        <ion-row class="row1" style="border-bottom: 1px solid gray; padding-bottom: 28px;">
          <ion-col>
            <ion-text>Name</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>swift code</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Account Name</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Country</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <ion-card class="cardP3">
    <ion-card-content class="content1"><b>Payout History</b></ion-card-content>
    <div>
      <ion-grid>
        <ion-row class="row1" style="border-bottom: 1px solid gray;  padding-bottom: 28px;">
          <ion-col>
            <ion-text>Name</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>swift code</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Account Name</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Country</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-text class="history">Payouts</ion-text>
  </ion-card>
  <ion-card class="cardp4">
    <ion-button class="button" color="secondary">Add Phodayout Met</ion-button>
    <ion-button class="button" color="secondary">Make Payout</ion-button>
  </ion-card>
</ion-content>
